# Directories
.usr
.vs/
bin/
generated_docs/
DuinEngine.wiki/
Duin/doxygen/

bin-int/
vendor/bin/*
vendor/*
Duin/vendor/*

# Files
*.user
/.cache/clangd/index
/compile_commands.json

!vendor/premake5.lua
!Duin/vendor/premake5.lua
!premake5.lua.old

# Binary files and build artifacts
*.exe
*.dll
*.lib
*.so
*.a
*.o
*.obj
*.pdb

# Build directories
/build/
/bin/
/Debug/
/Release/
/dist/

# Archive or backup folders (customize paths as needed)
**/build_archive/
**/Archive-windows-x86_64/

# IDE and editor-specific files
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters
*.db

# Temporary files and cache
*.log
*.tmp
*.cache
*.bak
*.swp
*.swo

# Ignoring Neovim or other editor config files
*.DS_Store
*~

# Editor-specific configurations
DuinEditor/imgui.ini
ExampleProjects/DuinFPS/imgui.ini
ExampleProjects/build_archive/

# Node modules or external dependencies
node_modules/
vendor/

/Duin/Duin.vcxproj.filters
/Duin/Duin.vcxproj
ExampleProjects/Sandbox/Sandbox.dnproj
nuget.config
/doxygen/docs
