[submodule "Duin/vendor/spdlog"]
	path = Duin/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Duin/vendor/raylib-cpp"]
	path = Duin/vendor/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp.git
